body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica;
  font-size: 16px;
}

nav {
  height: 6em;
  background-color: rgb(37, 37, 54);
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  color: whitesmoke;
  font-family: sans-serif;
}

.link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: gainsboro;
}

.card {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 2em;
  border-radius: 10px;
  height: 35em;
  width: 19em;
  background-color: whitesmoke;
}

p {
  height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  width: 100%;
  font-size: larger;
  height: 2em;
  padding-left: 1em;
}

.cardImage {
  position: relative;
}

img {
  width: 100%;
  height: 15em;
}

.cardBody {
  color: rgb(37, 37, 54);
  font-family: Helvetica;
  margin-left: 1em;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  height: 30em;
  width: 25em;
}

.about-image {
  width: 75%;
  height: 85%;
  padding: 5%;
}

.about-info {
  display: flex;
  margin-left: 1em;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  line-height: 2em;
}
