body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica;
  font-size: 16px;
}

nav {
  height: 6em;
  background-color: rgb(37, 37, 54);
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: gainsboro;
}

.card {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 2em;
  border-radius: 10px;
  height: 35em;
  width: 19em;
  background-color: whitesmoke;
}

p {
  height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  width: 100%;
  font-size: larger;
  height: 2em;
  padding-left: 1em;
}

.cardImage {
  position: relative;
}

img {
  width: 100%;
  height: 15em;
}

.cardBody {
  color: rgb(37, 37, 54);
  font-family: Helvetica;
  margin-left: 1em;
}

.jss3 {
  margin-left: 1em;
}
